.Navbar{
    /* background-color: ; */
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.183);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    
}
.nav-left{
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-right{
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap:3vw;
    align-items: center;
}
a{
    color: rgba(255, 255, 255, 0.796);
    font-size: 1.65vmin;
}
a:hover{
    color: wheat;
}